<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="contratos_flask_app.py" />
            </files>
        </defaultDocument>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\PROYECTO_BYFA\python-app-contratos" />
        <add key="WSGI_HANDLER" value="contratos_flask_app.app" />
    </appSettings>
</configuration>
